.searchByLang {
  margin: 3rem;
  padding: 3rem;
}

.searchByLang input,
.searchByLang select {
  margin: 1rem;
  padding: 0.6rem;
  border-radius: 4px;
}

.searchByLang select {
  max-width: 10rem;
}

h3 {
  color: #4d2c06;
  font-family: "Open Sans", sans-serif;
}

input,
select {
  background-color: #fff5ee;
  color: #4d2c06;
}

/***  Book results area ****/
.search_results {
  display: flex;
  flex-wrap: wrap;
}
