.searchByLang {
    margin: 3rem;
    padding: 3rem;
}

.searchByLang input,
.searchByLang select {
    margin: 1rem;
    padding: 0.6rem;
    border-radius: 4px;
}

.searchByLang select {
    max-width: 10rem;
}


/***  Book results area ****/
.search_results {
    display: flex;
    flex-wrap: wrap;
}