nav {
  width: 100vw;
}
  
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  /* background-color: #d8b18e; */
  background-color: #efb167;
}


li a {
  display: block;
  color: rgb(9, 25, 25);
  text-align: center;
}

li a:hover {
  color: #333;
}

li:hover {
  background-color: rgb(250, 240, 230);
}
  