.searchByLang {
  margin: 3rem;
  padding: 1rem;
}

.searchByLang input,
.searchByLang select {
  margin: 1rem;
  padding: 0.6rem;
  border-radius: 4px;
  background-color: #fefefa;
}

.searchByLang select {
  max-width: 10rem;
}

h3 {
  color: #fefefa;
  font-family: "Open Sans", sans-serif;
}

input,
select {
  background-color: #fefefa;
  color: #6f4e37;
}

/***  Book results area ****/
.search_results {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
}

.bookTitle {
  width: 225px;
}
