* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.bookform {
  display: flex;
  align-content: center;
  width: 80%;
}

.bookInputForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
}