@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

body {
  background: #efb167;
  height: 100vh;
}
.search_results {
  height: 80vh;
}

header {
  width: 100%;
  color: #6f4e37;
  padding: 1rem;
}

header h1 {
  font-family: "Poiret One", cursive;
  font-size: 3rem;
}

header p {
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem;
  font-size: 1.2rem;
}

a {
  color: #6f4e37;
  font-family: "Open Sans", sans-serif;
  /* padding: 20px; */
  font-size: 1rem;
}

footer a:hover {
  font-size: 1.1rem;
}

footer a,
footer p {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  color: #6f4e37;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

div .bookform {
  display: flex;
  justify-content: center;
}

.bookform {
  padding: 1rem;
  margin: 0;
  display: flex;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.bookInputForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  align-content: center;
  font-family: "Open Sans", sans-serif;
}

form label,
input,
select,
option {
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  border-style: 1px solid;
  margin: 0;
  padding: 3px;
}

button {
  width: 100px;
  height: auto;
  border-radius: 5%;
  background-color: #fefefa;
  color: #6f4e37;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  align-self: center;
}

button:hover {
  cursor: pointer;
}

.fake_logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 6rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: #6f4e37;
  text-align: center;
  padding: 5px;
  margin-top: 25px;
  background-color: #efb167;
  min-height: 10vh;
  height: auto;
}

footer h4 {
  font-family: "Open Sans", sans-serif;
  color: #6f4e37;
}

.FirebaseForm {
  color: #6f4e37;
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  padding: 20px;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 80vw;
  padding: 2rem;
  /* margin-left: 120px; */
  font-family: "Open Sans", sans-serif;
  color: #6f4e37;
  align-items: center;
}

.container1 h2 {
  font-size: 1.2rem;
  padding: 20px;
  margin-left: 20px;
}

.container1 p {
  font-size: 1rem;
  padding: 10px;
  margin-left: 20px;
  width: 80%;
}

.container h2 {
  font-size: 1.2rem;
  padding: 20px;
  margin-left: 20px;
}

.container p {
  font-size: 1rem;
  padding: 10px;
  margin-left: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-items: center;
  align-items: center;
}

.added_popup {
  background: rgb(250, 240, 230);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5rem;
  width: 50%;
  min-height: 40%;
  border-radius: 5px;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.added_popup h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.added_popup button {
  background: #fefefa;
  color: #6f4e37;
  position: relative;
  top: 50px;
  right: 5px;
  width: 150px;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.herobanner {
  display: flex;
  justify-content: center;
}

.herobanner img {
  width: 40%;
  height: auto;
  object-fit: cover;
  align-self: center;
}

.herobanner_main {
  display: flex;
  justify-content: center;
}

.herobanner_main img {
  width: 60%;
  height: auto;
  object-fit: cover;
  /* align-self: center;  */
}

.firebaseform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  font-family: "Open Sans", sans-serif;
}

.firebaseform label,
input {
  font-family: "Open Sans", sans-serif;
}

.firebaseform input {
  padding: 0.5rem;
}

.individualbook img {
  float: right;
}

/*** SingleBook ***/
.single_Book {
  display: flex;
  flex-direction: column;
}



/*** About ***/

.about_people {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.team_member img {
  max-width: "200px";
  height: "200px";
  padding: "1rem";
}


.team_member  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.about_wrapper {
   max-width: 100vw;
}

.firebaseForm-container input,
.firebaseForm-container select {
  height: 2.3rem;
}


.about_wrapper h3{
  color: black;
  margin-top: 3rem;
}