@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

/* html {
  height: 100%;
} */

body {
  background: rgb(250, 240, 230);
  background: radial-gradient(
    circle,
    rgba(250, 240, 230, 1) 0%,
    rgba(188, 152, 126, 1) 100%
  );
  background-size: 100% 100px;
}

header {
  width: 100%;
  color: #4d2c06;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header h1 {
  font-family: "Poiret One", cursive;
  font-size: 3rem;
}

header p {
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem;
  font-size: 1.2rem;
}

header img {
  height: 75px;
  width: auto;
  float: left;
  padding-left: 100px;
  margin-right: 10%;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
}

header a {
  font-size: 1rem;
  text-decoration: underline;
}

a {
  color: #4d2c06;
  font-family: "Open Sans", sans-serif;
  padding: 20px;
  font-size: 1rem;
}

a:hover {
  font-size: 1.1rem;
}

footer a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

div .bookform {
  display: flex;
  justify-content: center;
  /* background-color: #f0e0d2; */
}

.bookform {
  padding: 1rem;
  margin: 0;
  display: flex;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.bookInputForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  align-content: center;
  font-family: "Open Sans", sans-serif;
}

form label,
input,
select,
option {
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  border-style: 1px solid;
  margin: 0;
  padding: 3px;
}

button {
  width: 200px;
  height: 40px;
  border-radius: 5%;
  background-color: #e6c1ae;
  color: #4d2c06;
  padding: 10px;
  margin: 20px;
  align-self: center;
}

button:hover {
  box-shadow: 0 0 5px #4d2c06;
  border-radius: 5%;
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
}

.fake_logout {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 6rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: #4d2c06;
  text-align: center;
  padding: 5px;
  margin-top: 25px;
}

footer h4 {
  font-family: "Open Sans", sans-serif;
  color: #4d2c06;
}

footer a,
footer p {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 0.75rem;
  display: inline-block;
  color: #4d2c06;
}

.FirebaseForm {
  color: #4d2c06;
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  padding: 20px;
}

.container {
  width: 100%;
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  color: #4d2c06;
}

.container h2 {
  font-size: 1.2rem;
  padding: 20px;
  margin-left: 20px;
}

.container p {
  font-size: 1rem;
  padding: 20px;
  margin-left: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-items: center;
  align-items: center;
}

.added_popup {
  background: rgb(250, 240, 230);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5rem;
  width: 50%;
  min-height: 40%;
  border-radius: 5px;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.added_popup h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.added_popup button {
  background: #e6c1ae;
  color: #4d2c06;
  position: relative;
  top: 50px;
  right: 5px;
  width: 150px;
  cursor: pointer;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.herobanner {
  display: flex;
  justify-content: center;
}

.herobanner img {
  width: 70%;
  height: auto;
  object-fit: cover;
  align-self: center;
}

.herobanner_main {
  display: flex;
  justify-content: center;
}

.herobanner_main img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  /* align-self: center;  */
}

.firebaseform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  font-family: "Open Sans", sans-serif;
}

.firebaseform label,
input {
  font-family: "Open Sans", sans-serif;
}

.firebaseform input {
  padding: 0.5rem;
}

.individualbook img {
  float: right;
}


/*** SingleBook ***/
.single_Book {
  display: flex;
  flex-direction: column;
}